.home {
    background-image: url("../../assets/bg-s.jpg");
    background-color: rgb(25, 12, 55);
    display: grid;
    grid-template-columns: 100%;
    height: 700px;
    background-attachment: local;
}

.home-header {

    background-size: 100%;
    height: 350px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 20px;
    align-content: center;
    color: aliceblue;

}

.first-div {
    color: rgb(32, 36, 122);
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}

.second-div {
    color: rgb(51, 158, 158);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


